/*云卡通简介*/
.cloudInformation{
    height:4rem;
    background-color: #fff5f0;
}
.header_img{
    width:3rem;
}
.recharge{
    height:4rem;
    line-height:4rem;
}
.height4{
    height:4rem;
}
.height_charge{
     height:3rem;
 }
.lh2{
    line-height:2rem;
}
.lh15{
    line-height:1.5rem;
}
.perHeight{
    height:1.5rem;
}