*{
    margin:0;
    padding:0;
}
html,
body {
    font-family: "Microsoft YaHei", arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}
ul, li,  dl, dt, dd {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
label{
    margin-bottom: 0;
    font-weight: normal;
}
.containerNav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: auto;
}
.oa{
    overflow: auto;
}
.oh{
    overflow: hidden;
}
a:hover{
    text-decoration: none;
}
img{
    width:100%;
    height:100% !important;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
button{
    border:none;
    background-color: transparent;
}
p{
    margin:0;
}
.fc {
    clear: both;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}
.bkg_color{
    background-color:#fff !important;
}
.width_33{
    height:1px;
}
.td_lt{
    text-decoration: line-through;
}
.di{
    display: inline-block;
}
.df{
    display:flex;
}
.db{
    display:block;
}
.dn{
    display:none;
}
.plr{
    padding:0 0.5rem;
}
.ptb{
    padding:0.5rem 0;
}
.plAll{
    padding:0.5rem;
}
.pl1{
    padding:1rem;
}
.ptb1{
    padding:1rem 0;
}
.ChooseHeight{
    padding:1rem 0.5rem;
}
.mr{
    margin-right:0.3rem;
}
.mtb{
    margin:0.5rem 0;
}
.mtlr{
    margin: 0 0.5rem;
}
.m0{
    margin:0;
}
.mt{
    margin-top:0.2rem;
}
.mt1{
    margin-top:0.1rem;
}
.mt5{
    margin-top:0.5rem;
}
.mt55{
    margin-top:0.55rem;
}
.mt11{
    margin-top:1.1rem;
}
.mt3{
    margin-top:0.3rem;
}
.ml{
    margin-left:0.3rem;
}
.mt25{
    margin-top:2.5rem;
}
.margin0{
    margin-left:0 !important;
}
.margin15{
    margin-left:0.75rem;
}
.mr20{
    margin-left:1rem;
}
.mr15{
    margin-left:1.5rem;
}
.ml5{
    margin-left:0.5rem;
}
.mr9{
    margin-right:0.9rem;
}
.mr6{
    margin-right:0.65rem;
}
.mr5{
    margin-right:0.5rem;
}
.b3{
    bottom: 0.3rem;
}
.pb{
    padding-bottom:0.3rem;
}
.pl{
    padding-left:0.5rem !important;
}
.pl8{
    padding-left:0.8rem;
}
.pr_right{
    padding-right:0.5rem;
}
.pr_details{
    padding-right:1.35rem;
}
.right10{
    right:0.5rem;
}
.height_all{
    height: 100%;
}
.width_100{
    width: 100%;
}
.width_80{
    width:80%;
}
.width_20{
    width:20%;
}
.width_34{
    width:34%;
}
.width50{
    width:50%;
}
.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f25{
    font-size: 25px;
}
.f17{
    font-size: 17px;
}
.f15{
    font-size: 15px;
}
.f20{
    font-size: 20px;
}
.f25{
    font-size: 25px;
}
.flex1{
    flex:1;
}
.border_top{
    border-top: 1px solid #e5e5e5;
}
.border_bottom{
    border-bottom: 1px solid #e5e5e5;
}
.border_right{
    border-right: 1px solid #e5e5e5;
}
.tc{
    text-align:center;
}
.tr{
    text-align:right;
}
.border_ra{
    border-radius: 0.25rem;
}
.border_ra50{
    border-radius: 50%;
}
.color6{
    color: #666;
}
.color_white{
    color:#fff;
}
.color_red{
    color:red;
}
.color9{
    color:#999 !important;
}
.color_yellow{
   color: #ff5500 !important;
}
.font14{
    font-size:14px;
}
.font18{
    font-size:18px;
}
.font16{
    font-size:16px;
}
.font20{
    font-size:20px;
}
.line{
    height: 0.5rem;
    background-color: #f5f5f5;
}
.bkg_ff{
    background-color:#ff5500;
}
.bkg_gray{
    background-color:#f5f5f5;
}
.bkg_fadeff{
    background-color: #fff5f0;
}
.bar{
    position:fixed !important;
}
.clearAll{
    clear:both;
}
.borderno{
    border:none;
}
.bottom0{
    bottom:0;
}
.z_index{
    z-index:100;
}
.list-block .item-inner::after{
    display: none;
}

.just-center{
    justify-content: center;
}

.alignItem-center{
    align-items: center;
}

.just-between{
    justify-content: space-between;
}
