.bannerImg{
    width:100%;
    height: auto;
}
.goodDetails{
    height:2.2rem;
    margin:0.75rem 0 0rem;
    overflow: hidden;
}
.border_dec{
    border-right:1px solid #e5e5e5;
}
.colorff{
    color:#ff5500;
}
.color_gray{
    color:#999;
}
.collect_img{
    width: 1rem;
    height: 1rem;
}
.store{
    width:1.5rem;
    height:1.5rem;
}
.margin_tb{
    margin:0.6rem 0 0;
}
.height3{
    height:3rem;
}
/*购物车*/
.width_cart{
    width:30%;
}
.width_de{
    width:10%;
}
.width_buy{
    width:60%;
    background-color:#ff5500;
}
.cartBtn{
    border:1px solid #ff0000;
}
.cartImg{
    height:1.1rem;
    width:1.25rem;
}
.goodNum{
    width:0.8rem;
    height:0.8rem;
    line-height:0.8rem;
    border:1px solid #ff0000;
    top:0.4rem;
    margin-left:3px;
}
/*商品详情底部*/
.goodBottom{
    height: 3rem;
}
/*tab切换*/
.tabchange{
    display: flex;
    height:1.5rem;
    line-height:1.5rem;
    background-color: #fff5f0;
}
.active{
    color:#ff5500;
    background-color: #ffddcc;
    border-bottom: 3px solid #ff5500;
}
.Tab_tittle{
    text-align:center;
    flex:1;
}
.Tab_item{
    display:none;
}
.isShow{
    display:inline-block;
    width:100%;
}
/*popup*/
.pm_img{
    height:4rem;
}
.productImg{
    width:3rem;
}
.chooseColor{
    display:none;
}
.chooseColor + label{
    display: inline-block;
    background-color: #e5e5e5;
    border-radius: 3px;
    width: 2.5rem;
    height:1.25rem;
    line-height:1.25rem;
    text-align: center;
    font-size:12px;
    margin-top:0.5rem;
    font-weight: normal;
}
.chooseColor:checked + label{
    background-color: #ff6565;
    color:#fff;
}
.changeCount{
    width:6rem;
    height:1.5rem;
    border:1px solid #e5e5e5
}
.width333{
    width:33.3%;
}
.bkg_e5{
    background-color: #e5e5e5;
}
.commit{
    height:2.5rem;
}
.lh13{
    line-height: 1.3rem;
}
.close{
    width:1rem;
    height:1rem;
    right:0.3rem;
    top:0.2rem;
}
/*商铺*/
.storeDetail{
    height:3rem;
    background: url("../../Images/storebk.png") no-repeat;
    background-size: 100%;
    background-position: center;
}
/*轮播*/
.carouselHeight{
    height:115px;
}
.storePlayImg{
    height:9rem;
}
.storeLeftImg{
    width:49%;
    height:12.5rem;
    background-color: #fff;
    margin-bottom:0.3rem;
}
.splitDiv{
    width:2%;
    height:12.5rem;
}
.storeImgPlay{
    height:1.8rem;
    overflow: hidden;
}

/*搜索tab icon*/
.screenImg{
    width:10%;
    height:10%;
    margin-right:2px;
}

.arrayImg{
    width:17%;
    height:17%;
}

.searchContainer{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 100;
}

.goodListContainer{
    top:3.7rem;
    position:absolute;
    background: rgb(245,245,245);
    z-index: 0;
}

/*排序*/
.compositor li{
    border-bottom: 0.5px solid #e5e5e5;
    padding:0 10px;
    display: flex;
    font-size:16px;
    height:50px;
    justify-content: space-between;
    align-items:center;
}

.compositor li img{
    width:5%;
    height:auto !important;
}

/*筛选*/
.screen{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height:150px;
    width:100%;
    background: #fff;
}

.screen p{
    font-size: 16px;
    color:#999;
}

.screen div{
    display: flex;
    align-items: center;
}

.liner{
    display: inline-block;
    width:10px;
    height:1px;
    background: #ff5500;
}

.blank{
    display: inline-block;
    width:10px;
    height:1px;
}

.screen .reset{
    color:#999;
    background:#fff;
    border: 1px solid #ff5500;
}

.screen .makesure{
    color:#fff;
    background: #ff5500 ;
}

.screen input{
    width:100px;
    height:30px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ffddcc;
    background: #fff5f0;
    text-align: center;
    margin:0 10px
}

/*modal蒙版*/
.searchContainer .cover{
    height:100%;
    background: rgba(0,0,0,0.4);
}