/*搜索栏*/
#searchNav {
    width: 100%;
    height: 2.2rem;
    box-sizing: border-box;
    padding: 6px 1rem;
    z-index: 20;
    display: inline-block;
}
.search {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:14px;
}
.deleteImg{
    width:0.75rem;
    height:0.75rem;
    line-height:0;
    margin:auto 5px auto 0;
}
.frc {
    height: 100%;
    width:100%;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: #fff5f0;
}
.searchicon {
    display: inline-block;
    z-index:10;
    width: 14px;
    height: 14px;
    line-height:0;
    margin:auto 5px;
}
.frc input {
    border: 0;
    width: 85%;
    height: 100%;
    background-color:transparent;
    float: left;
}
.searcInputOther::-webkit-input-placeholder { /* WebKit browsers */
    color: #666;
}
.searcInputOther:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666;
}
.searcInputOther::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666;
}
.searcInputOther:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666;
}
.searcInput::-webkit-input-placeholder { /* WebKit browsers */
    color: #ff5500;
}
.searcInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ff5500;
}
.searcInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ff5500;
}
.searcInput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ff5500;
}
.searchBtn{
    height: 100%;
    padding:0 8px;
    border-top:none;
    border-right:none;
    border-bottom:none;
    border-left:1px solid #ffddcc;
    background-color: transparent;
}

/*标题*/
.p_all{
    padding:0 0.5rem;
}
.activeName{
    margin-left:2.2rem;
    font-size: 16px;
    color: #ff5500;
}
.activeLogo{
    width:1rem;
    height:1rem;
    margin-top:0.15rem;
    margin-left: 0.6rem;
}

/*轮播*/
.carouselHeight{
    height:115px;
}
#myCarousel{
    border:1px solid #0074d9;
}

.carouselImg{
    height:180px !important;
    width:100%;
}
/*更多选择*/
.oapp {
    height: 165px;
}

.oapp li {
    font-size: 12px;
    color: #666;
    text-align: center;
    width: 20%;
    float: left;
    margin-top: 0.5rem;
}
.app_icon {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 auto 8px auto;
}
.app_icon img{
    border-radius: 50%;
    background-color: #00d95a;
}
.oapp li:last-child:after {
    content: "";
    display: block;
    clear: both;
}

.oapp a {
    color: #666;
}

/*底部*/
.external img{
    border-radius:50%;
}

/*3格*/
.width_50 {
    width: 50%;
}
.halfHeight{
    height:4rem;
}
.leftImg{
    width:9rem;
    height:4.3rem;
}
.rightImg{
    width:6rem;
    height:2.65rem;
}
.line_center{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin:auto;
}
.headerHidden{
    height:2.2rem;
    width:100%;
}
/*底部隐藏域*/
.footerHidden{
    height:2.5rem;
    width:100%;
}
.width100{
    width:100%;
}
.footerNav{
    width:1rem;
    height:1rem;
}
.replacrImg{
    width:1.75rem;
    height:1.1rem;
}
/*4格*/
.cellFourImg{
    width:2.5rem;
    height:2.9rem;
}
.width_25{
    width:25%;
}
/*.hfour{
    height:2.9rem;
}*/
.cellFour div:nth-of-type(4){
    border:none;
}
/*6格*/
.cellSix{
    height:5.8rem;
}
.cellSix_img{
    width:3rem;
    height:3.2rem;
}
.cellSixImg{
    width:4rem;
    height:3.1rem;
}
.bkImg{
    padding:0.1rem 0.2rem;
    color:#fff;
    background:url("../../Images/changeShort.png") no-repeat;
    background-size:100% 100%;
}
.cs_color{
    color: #e376dd;
}
/*7格*/
.cellHeight{
    height:5.2rem;
}
.cellsevenImg{
    width:5rem;
    height:5.2rem;
}
.cellRightImg{
    width:4.5rem;
    height:1.7rem;
}
.height2{
    height:1.7rem;
}

@media (max-width: 320px) {
    .activeName {
        font-size: 12px;
    }
}
/*tab选择导航条*/
.tabBarContainer{
    display: flex;
    -webkit-display: flex;
    width:100%;
    height:40px;
    background: rgb(254,245,240);
 }
/*历史记录*/
.history{
    width:100%;
    padding:10px;
    background:#fff;
    top:44px;
}

.deletHistory{
    width:16px;
    height:16px;
}

.history-items{
    padding:5px 15px;
    border-radius: 5px;
    background: #f5f5f5;
    margin:10px 10px 0 0 ;
}

.historyContainer{
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
}

/*定位*/
.location{
    border-bottom: 1px solid #f5f5f5;
    height:50px;
}

.typeContainer{
    padding:5px;
    background: rgb(244,244,244);
    width:100%
}

.typeItems{
    width:21.5%;
    min-width:21.5%;
    padding:2px 0;
    background:#fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin:5px;
}

._order_height{
    height:6rem;
}
._order_img{
    width:5rem;
}
._order_margin{
    margin:0 3.5rem 0 0.5rem;
}
._location{
    white-space:nowrap;
}
