
/*input 编辑栏*/
/*.toMid{*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
.editorBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 10px;
    height:70px;
    width:80%;
    margin-left: 10%;
    border-bottom: 1px solid #e5e5e5;
}

.editorBox_100{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:50px;
    width:100%;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
}

.editorBox_100 input{
    border:0;
    margin-left: 20px;
    height:21px;
    line-height: 21px;
}
/*.editorContainer{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: row;*/
/*}*/

.editorBox input{
    border:0;
    margin-left: 10px;
    height:21px;
    line-height: 14px;
    flex:1;
    -webkit-flex:1
}

.editorImg{
    min-width:21px;
    line-height:0;
    height:21px;
    width:21px;
}

.editorInput{
    font-size: 14px;
}

.loginHeight{
    height: 1.8rem;
}

.toLogin{
    width:80%;
    height:40px;
    line-height: 40px;
    background: #ff0000;
    margin-left: 10%;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
}

.toRegister{
    display: flex;
    -webkit-display: flex;
    width:80%;
    margin-left: 10%;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top:30px
}

.toRegister span{
    color:#ff0000;
    font-size:14px;
}

/*注册*/
#code{
    width:35%;
    height:25px;
    background:#ff0000;
    border-radius: 5px;
    font-size: 12px;
    color:#fff;
    margin: 0;
    min-width:100px;
}

#bindCode{
    width:100px;
    height:25px;
    text-align: center;
    background:#ff0000;
    border-radius: 5px;
    font-size: 12px;
    color:#fff;
    margin: 0 10px 0 0;
    line-height: 14px;
}

.agreement{
    font-size: 12px;
    color:#999;
    width:80%;
    margin-left: 10%;
    margin-top: 15px;
}

.backToLogin{
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top:20px ;
}

.line-through {
    width:80%;
    font-size: 16px;
    color: #999;
    margin-left:10%;
    margin-top:50px;
    position: relative;
    text-align: center
}

.line-through:before {
    content: "";
    border-top: 1px solid #ffddcc;
    display: block;
    position: absolute;
    width: 30%;
    top: 12px;
    left: 0
}

.line-through:after {
    content: "";
    border-top: 1px solid #ffddcc;
    display: block;
    position: absolute;
    width: 30%;
    top: 12px;
    right: 0
}
.loginMore{
    margin-left:15%;
    margin-right:15%;
}

@media screen and (max-width : 320px){
    .psdInput input{
        max-width:6rem;
    }
}
