
/*input 编辑栏*/
/*.toMid{*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

.editorBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 10px;
    height:70px;
    width:80%;
    margin-left: 10%;
    border-bottom: 2px solid #e5e5e5;
}

/*.editorContainer{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: row;*/
/*}*/

.editorBox input{
    border:0;
    margin-left: 10px;
    height:21px;
    line-height: 14px;
    flex:1
}

.editorImg{
    line-height:0;
    height:21px;
    width:21px
}

.editorInput{
    font-size: 14px;
}

.toLogin{
    width:80%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff5500;
    margin-left: 10%;
    margin-top: 25px;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
}

.toRegister{
    display: flex;
    width:80%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    margin-top:30px
}

.toRegister span{
    color:#999;
    font-size:14px;
}

/*注册*/
#code{
    width:35%;
    height:25px;
    background:#ff5500;
    border-radius: 5px;
    font-size: 12px;
    color:#fff;
    margin: 0;
}

.agreement{
    font-size: 12px;
    color:#999;
    width:80%;
    margin-left: 10%;
    margin-top: 15px;
}

.backToLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
}