/*我的订单*/
.order_height{
    height:6rem;
}
.order_img{
    width:5rem;
}
.orderShow{
    height:1.9rem;
    word-break: break-all;
}
.order_margin{
    margin:0 3.5rem 0 0.5rem;
}
.order_price{
    top:0.3rem;
    right:0.5rem;
}
.order_pay{
    padding:0.75rem 0.5rem 0.5rem 0;
}
.ispayOrCancle button{
    height:1.5rem;
    line-height:1.5rem;
    padding:0 0.5rem;
}
.border_ccc{
    border:1px solid #ccc;
}
.height1{
    height:1rem;
}
.height3{
    height:3rem;
}
/*评价*/
.logoHeight{
    width:2.5rem;
    height:2.5rem;
}
/*追加评论*/
.filediv {
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
}
.filediv input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.evalute_h{
    height:2.5rem;
    line-height:2.5rem;
}
.scoreImg{
    width:1rem;
    height:1rem;
}
/*订单详情*/
.leftPoint{
    width:0.6rem;
    height:1rem;
    margin:auto;
}
.rightPoint{
    width:0.45rem;
    height:0.8rem;
    margin:auto;
}
/*退货*/
.saleTitle{
    height:2rem;
    line-height: 2rem;
}
.saleLi li{
    padding-left:0.5rem;
    height:2rem;
    line-height:2rem;
}

.reason{
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -webkit-flex;     /* NEW - Chrome */
    justify-content: center;
    align-items: center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
}

.reasonContainer{
    width:80%;
    border-radius: 5px;
    background: #fff;
}

.reasonRow{
    height:50px;
    padding-left: 10px;
    font-size: 12px;
    color:#999;
    line-height: 50px;
    border-bottom: 1px solid #f5f5f5;
}

.reasonTitle{
    height:40px;
    background: #f5f5f5;
    border-radius: inherit;
    color:#666;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.imgSize{
    height: 21px;
    width: 21px;
}

.btn{
    padding:1px 5px
}