/*个人中心*/
.center_bkImg,.member_bkImg{
    background: url('../../Images/center_bkImg.png') no-repeat;
    background-size:100% 100% ;
    background-position: center;
}
.personLogo{
    height:2.5rem;
    width:2.5rem;
    margin:auto;
}
.setUp{
    top:15px;
    right:15px;
}
.bak_img{
    width:5rem;
    height:1rem;
    line-height:0.8rem;
    margin:auto;
    background:url('../../Images/borderImg.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top:10px;
}
.personal_h8{
    height:5rem;
}
.vipImg{
    width:0.7rem;
    height:0.7rem;
}
.ptlb{
    height:5rem;
    padding:1rem 0 1rem 0.5rem;
}
.infoImg{
    width:3rem;
    height:3rem;
}
.ml4{
    margin-left:3.5rem;
}
.h35{
    height:3rem;
    padding:0.5rem 0;
}
.hl8{
    height:0.8rem;
    line-height:0.8rem;
}
.m_top{
    margin-top:8px;
}
.typeImg{
    width:1rem;
    height:1rem;
}
.width_third{
    width:33.3%;
}
.separateRow{
    padding:1rem 0 0.5rem;
    width:100%;
}
.separateRowImg{
    width:1.5rem;
    height:1.5rem;
}
/*.countDiv .countLink:nth-of-type(1) .separateRow .centerImg span{
    height:1.2rem;
    width:1.9rem;
}*/
/*.countDiv .countLink:nth-of-type(1) .separateRow .centerImg span{
    height:24px;
    width:38px;
}*/
.countDiv .countLink:nth-of-type(1) .separateRow .centerImg span{
    height:23px;
    width:24px;
}
.countDiv .countLink:nth-of-type(2) .separateRow .centerImg span{
    height:22px;
    width:23px;
}
.countDiv .countLink:nth-of-type(3) .separateRow .centerImg span{
    height:23px;
    width:23px;
}
.countDiv .countLink:nth-of-type(4) .separateRow .centerImg span{
    height:24px;
    width:16px;
}
.countDiv .countLink:nth-of-type(5) .separateRow .centerImg span{
    height:23px;
    width:19px;
}
.countDiv .countLink:nth-of-type(6) .separateRow .centerImg span{
    height:1rem;
    width:1rem;
}
.countDiv .countLink:nth-of-type(7) .separateRow .centerImg span{
    height:0.95rem;
    width:1.05rem;
}

.countDiv div:nth-of-type(3n){
    border-right:none;
}
.promptNav{
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #fff;
    border: 1px solid #ff0000;
    margin-left: -7px;
}
.list-block.inset{
    margin-left:0;
    margin-right:0;
    border-radius:0;
}
/*我的收藏*/
.pt_collect{
    height:4rem;
    padding:0.75rem 0.5rem;
}
.store_img{
    width:2.5rem;
    height:2.5rem;
}
.mr45{
    margin-top:0.15rem;
    margin-left:3rem;
    margin-right:4.5rem;
}
.cancel_collect{
    top:1.25rem;
    right:0.5rem;
}
.cancel_btn{
    width:2.5rem;
    height:1.25rem;
    background-color: #e5e5e5;
}
.oh_height{
    height:1rem;
}
.distance_h{
    height:1.2rem;
}
/*模态层*/
.modalNav{
    top:0;
    /*left:0;*/
    bottom:0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}
.modal_body{
    background-color: #fff;
    z-index: 1050;
    margin:50% 2.5rem 0;
}
.isCancel{
    padding:0.5rem 0;
}
.chooseType{
    height:2rem;
    line-height:2rem;
}
.w50{
    width:50%;
}
.width40{
    width:40%;
}
.width20{
    width:20%;
}
.scale{
    animation: scale both .4s cubic-bezier(0.4, 0, 0, 1.5);
}
/*账号与安全*/
.save_h2{
    height:2rem;
    line-height:2rem;
}
.listimg{
    width: 1.5rem;
    height: 1.5rem;
}
.contact{
    padding:0.5rem 0.7rem;
}
/*关于聚朵云*/
.navbanner {
    width: 100%;
    padding:1rem 0;
    background: url("../../Images/storebk.png");
    background-size: 100% 100%;
}
.imglogo {
    width: 4rem;
    height: 4rem;
    margin:0 auto 0.8rem;
}
.aboutjdy {
    margin: 1rem 0 0;
}
/*个人资料*/
.userHeight{
    height:50px;
    line-height:50px;
}
.headerImg{
    width:40px;
    height:40px;
}
/*.footerHidden{
    height:2.5rem;
    width:100%;
}*/
/*会员俱乐部*/
.club_height{
    height:7.75rem;
    padding:0.5rem 0 0.75rem 0.5rem;
}
.left_radio{
    padding:0.15rem 0;
    border-radius: 1rem 0 0 1rem;
    background:url('../../Images/memberShadow.png') no-repeat;
    background-size:100% 100%;
    background-position: center;
    width:3.1rem;
    margin-top: 5px;
}
.memberImg{
    height:1.2rem;
    width:1.2rem;
}
.score{
    background:url('../../Images/personRadio.png') no-repeat;
    background-size:100% 100%;
    background-position: center;
    padding-top:1rem;
    width:5rem;
    height:5rem;
    margin:auto;
}
.vip_img{
    width:0.75rem;
    height:0.75rem;
}
.vipBar{
    background:url('../../Images/center_bkImg.png') no-repeat;
    background-size:100% 100%;
    background-position: center;
    height:7.5rem;
    padding:2rem 0 0;

}
.all_progressBar{
    background:url('../../Images/line_opacity.png') no-repeat;
}
.progressBar{
    width:70%;
    height:5px;
    background:url('../../Images/line.png') no-repeat;
}
.allIncome_Img{
    background: url('../../Images/common/erCode.png') no-repeat;
}
.cellSize{
    width:1.5rem;
    height:1.5rem;
    line-height:1.5rem;
}
.bigSize{
    background:url('../../Images/memberRadius.png') no-repeat;
    background-size:100% 100%;
    background-position: center;
    width:93px;
    height:65px;
    line-height:60px;
}
.mrl25{
    margin-left:1.25rem;
}
.cell-Height{
    height:5px;
}
.top0{
    top:0;
}
.rule{
    padding:0.5rem 0.75rem;
}
.rightCursor{
    width: 0.45rem;
    height: 0.8rem;
    line-height:0;
    right: 0.5rem;
}
.spotImg{
    height:1.25rem;
    line-height:0;
    width:1.25rem;
    top:-0.5rem;
    right:-7px;
}
.incomeImg{
    width:3rem;
    height:3rem;
}
/*我的银行卡*/
.BankHeight{
    height:5.2rem;
    background:url('../../Images/bankImg.png') no-repeat;
}
/*确认提现modal*/
.imcomeModal{
    z-index: 1050;
    background-color: #fff;
}
.hideModal{
    width:1rem;
    height:1rem;
    line-height:0;
    top:15px;
    right:10px;
}
.cashHeight{
    height:3rem;
    line-height:3rem;
}
.modal_input{
    height:2.25rem;
    line-height:2.25rem;
    background:url('../../Images/pwdInput.png') no-repeat;
    background-size:100% 100%;
    background-position: center;
}
.modal_input img{
    top:0;
    left:0;
    bottom:0;
}
.supplement{
    background-size:100% 100%;
    background-position: center;
}
.liInput{
    height:2.75rem;
    line-height:2.75rem;
}
.erWeiCode{
    width:8rem;
    height:8rem;
}
.qrCode{
    line-height:0;
    width:20px;
    height:20px;
}
.bank_height{
    height:2rem;
    line-height:2rem;
}
@keyframes scale {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


/*全国排名*/
.rankIcon{
    height:15px;
    width:20px;
    line-height: 0;
}
.rankRow{
    height:60px;
    width:100%;
    padding:0 10px;
    border-bottom: 1px solid #f5f5f5;
}
.vipIcon{
    text-align: center;
    height:20px;
    width:20px;
    border-radius: 50%;
    background: #ff5500;
    bottom:0;
    right:-10px;
    color: #fff;
    font-size: 14px;
}
.rankNum{
    height:20px;
    /*width:20px;*/
    padding:0 10px;
    border-radius: 10px/10px;
    background: #ffddcc;
    color:#ff5500;
}
.rankHeader{
    height:40px;
    width:100%;
    background: #ffddcc;
}
.rank-head-cell{
    padding:0px 4px;
    color:#ff5500;
    border:1px solid #ff5500;
    border-radius: 5px;
}
@media screen and (max-width: 414px){
    .input_Spacing{
        letter-spacing:2.4rem;
        text-indent: 25px;
    }
}
@media screen and (max-width: 375px){
    .input_Spacing{
        letter-spacing:2.3rem;
        text-indent: 23px;
    }
}
@media screen and (max-width: 320px){
    .input_Spacing{
        letter-spacing:1.8rem;
        text-indent: 18px;
    }
}

/*聚朵云股权*/
.stockBanner{
    height:144px;
    width:100%;
    background:url('../../Images/common/background.png')  100% center;
}
.checkedRead{
    top:2px;
}
.toRead{
    display:none;
}
.toRead + label{
    border:1px solid #999;
    border-radius: 4px;
    width: 14px;
    height:14px;
}
.toRead:checked + label{
    background:url("../../Images/checkedRead.png") no-repeat;
    background-size:98%;
    background-position:center;
}
.rule-row{
    word-break:break-all;
    padding:10px 15px;
    white-space:normal
}

