.upload{
    padding:15px 20px;
}
.uploadFile {
    margin-top:15px;
}
.uploadCardImg{
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
}
.educationImg {
    width: 100%;
    height: 100%;
}
.storeHeaderImg{
    width:2rem;
    height:2rem;
    font-size: 0;
    line-height:0;
}
.uploadFile input,.storeHeaderImg input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.lh60{
    height:60px;
    line-height:60px;
}
.salesAll{
    background: url("../../Images/common/sales.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.salesList li{
    height:50px;
    padding:0 0.5rem;
}
.releaseUpload{
    padding:15px 10px;
}
