body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial, "PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
}
*{
  padding:0;
  margin:0;
}


